a {
    text-decoration: none;
    color: #023047;
    padding: 2rem;
    font-family: var(--font);
    font-size: 1.2rem;
}

a:hover {
    transform: scale(1.2);
    transition: ease-out 0.5s;
    color: #FB8500;
    font-weight: bold;
}

.navbarre {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,249,235,1) 61%, rgba(255,243,214,1) 78%);

    .links {
        display: flex;
        gap: 30px;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 760px) {

    a {
        text-decoration: none;
        color: #023047;
        padding: 0.7rem;
        font-family: var(--font);
    }
    
    a:hover {
        transform: scale(1.2);
        transition: ease-out 0.5s;
        color: #FB8500;
        font-weight: bold;
    }
    
    .navbarre {
        position: fixed;
        width: 100vw;
        display: flex;
        align-items: flex-start;
        cursor: pointer;
        background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,249,235,1) 61%, rgba(255,243,214,1) 78%);
    
        .links {
            display: flex;
            gap: 5px;
            padding: 0.2rem;
        }
    }
}

@media screen and (max-width: 760px) {
    .navbarre {
        display: none;
    }
}